/* Mobile responsive: < 740px */

@media only screen and (max-width: 46.1875rem) {
    .hide-on-mobile {
        display: none;
    }
}

/* Tablet: >= 740px and < 1024px */

@media screen and (min-width: 46.25rem) and (max-width: 63.938rem) {
    .wide {
        width: 644px;
    }

    .hide-on-tablet {
        display: none;
    }
    .header__cart {
        width: 80px;
        text-align: right;
    }
}

/* Mobile & Tablet */

@media (max-width: 1023px) {
    :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }

    .hide-on-mobile-tablet {
        display: none;
    }
}